@{
    ViewData["Title"] = "Yazıyı Sil";
}

<div class="row mb-4">
    <div class="col">
        <h3 class="display-4 border-bottom">@ViewData["Title"]</h3>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <p class="text-danger fw-bold">
            İlgili yazıyı silmek istediğinize emin misiniz? <br />
        </p>
        <small class="text-danger">Bu işlem geri alınamaz!</small>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <dl class="row">
            <dt class="col-4">Kategori</dt>
            <dd class="col-8">@NameData.GetCompanyName()</dd>

            <dt class="col-4">Başlık</dt>
            <dd class="col-8">@TextData.GetSentence()</dd>

            <dt class="col-4">Özet</dt>
            <dd class="col-8">@TextData.GetSentences(2)</dd>

            <dt class="col-4">Taslak</dt>
            <dd class="col-8">
                <i class="fa fa-@(BooleanData.GetBoolean() ? "check text-success" : "times text-danger" )"></i></td>
            </dd>

            <dt class="col-4">Beğeni Adedi</dt>
            <dd class="col-8">@NumberData.GetNumber(1,100)</dd>

            <dt class="col-4">Yorum Adedi</dt>
            <dd class="col-8">@NumberData.GetNumber(1,100)</dd>

            <dt class="col-4">Oluşturan</dt>
            <dd class="col-8">@NameData.GetFullName()</dd>

            <dt class="col-4">Oluşturma Tarihi</dt>
            <dd class="col-8">@DateTimeData.GetDatetime()</dd>

            <dt class="col-4">Güncelleyen</dt>
            <dd class="col-8">@NameData.GetFullName()</dd>

            <dt class="col-4">Güncelleme Tarihi</dt>
            <dd class="col-8">@DateTimeData.GetDatetime()</dd>      
        </dl>
    </div>
</div>

<div class="row mb-4">
    <div class="col">
        <form method="post" asp-action="Delete">
            <button type="submit" class="btn btn-warning btn-sm"><i class="fa fa-trash mr-2"></i>Yazıyı Sil</button>
            <a class="btn btn-secondary btn-sm" asp-action="Index"><i class="fa fa-arrow-left mr-2"></i>Listeye Dön!</a>
        </form>       
    </div>
</div>